/* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 * Live example: https://updown.io
 */

.browser-mockup {
  background-color: white;
  flex: 1;
  padding: 10px;
  border-top: 2em solid fade-out($white, .9);
  position: relative;
  border-radius: $border-radius;
  @extend .box-shadow;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px $danger, 1.5em 0 0 2px $teal, 3em 0 0 2px $warning;
  }

  code,
  pre {
    background-color: transparent;
    border: 0;
  }

  > * {
    display: block;
  }
}
