.avatar {
    box-shadow: 0 0 3px $purple-light;
    &:hover {
        background-color:$purple-dark;
        opacity: 0.75;
        // box-shadow: 0 0 0px $pink;
        transition: .25s;
        cursor: pointer;
        fill:transparentize($purple-dark, 0.8);
}
}