.btn {
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $btn-line-height,
    $btn-border-radius
  );
  box-shadow: $btn-box-shadow;
  @include hover {
    box-shadow: $btn-active-box-shadow;
  }
}

// Button Link
.btn-link {
  padding: 0;
  border: 0;
  box-shadow: none;
  color: $body-color;
  @include hover {
    color: $body-color;
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: 0;
  }
}

.btn.btn-link:not(:disabled):not(.disabled):active,
.btn.btn-link:not(:disabled):not(.disabled).active,
.btn.btn-link:not(:disabled):not(.disabled):hover,
.btn.btn-link:not(:disabled):not(.disabled).hover {
  box-shadow: none;
}

// Progress Button
.btn-progress {
  position: relative;
  overflow: hidden;

  .progress {
    position: absolute;
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    z-index: 0;
  }
}

.btn-progress__label {
  z-index: 1;
  position: relative;
}
