/**
 * Theme Gradients
 */
 $theme-gradients: (
  ("primary", $purple, $magenta, $white),
  ("magenta", $purple, $magenta, $white),
  ("purple-dark", $purple-dark, $black, $white),
  ("purple-darker", $purple-darker, $purple-dark, $white),
  ("green", $green, $teal, $white)
);

@each $color in $theme-gradients {
  .btn-gradient-#{nth($color, 1)} {
    color: $white;
    background: linear-gradient(to right, #{nth($color, 2)}, #{nth($color, 3)});
    background-size: 120%;
    background-position: 20%;

    &:hover {
      color: #{nth($color, 4)};
      opacity: 90%;
      text-decoration: none;
    }
  }

  .bg-gradient-#{nth($color, 1)} {
    background: linear-gradient(to right, #{nth($color, 2)}, #{nth($color, 3)});
  }
}