// .input-group {
//   box-shadow: $btn-box-shadow;
//   border-radius: $input-border-radius;
//   > .form-control {
//     box-shadow: none;
//   }
// }

.input-group-append {
  z-index: 1;
}

.input-group-text {
  padding: 0 $input-padding-x;
  box-shadow: $btn-box-shadow;
}
