.list-group {
  &.striped {
    .list-group-item {

      &:first-of-type {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }

      &:last-of-type {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
      
      &:nth-of-type(odd) {
        background: $white;
      }
  
      &:nth-of-type(even) {
        background: $gray-100;
      }
    }
  }
 }