.nav-pills {
  &.nav-pills-dark {
    .nav-link.active,
    .show > .nav-link,
    .nav-link {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  
}
.navbar-light.nav-link {
  color: $body-color;
  font-weight: 500;
  &:hover,
  &:focus {
    transition:.25s;
  }
}

//dashboard sidebar styling

.nav-sidebar {
  font-size:1.25rem;
  color: $body-color;
  width:100%;
}
//dashbaord sidebar links

.nav-sidebar__link {
  width:100%;
  border-left:.25rem solid $pink;
  &:hover {
    color: $pink;
    transition: .25s;
  }
  &:focus {
    border-color: $pink;
  }
}

//dashboard nav link styling

.nav-tabs .nav-link {
  &:hover
   {
    background-color: rgba($purple-light, 0.25);
    transition:.25s;
  }
  &:focus {
    background-color: rgba($purple-light, 0.65)
  }
}

//dashbaord nav icon

.nav-sidebar__icon {
  display:inline;

}

.nav-sidebar__icon-container {
  display:inline-block;
  background-color:$purple-light;
  height:30px;
  width:30px;

&:focus {
  background-color:$pink;
}
}