.nav-pills {
  &.nav-pills-dark {
    .nav-link.active,
    .show > .nav-link,
    .nav-link {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  .nav-link {
    font-size: $font-size-base * 0.875;
    color: $body-color;
    &:hover,
    &:focus {
      color: rgba($body-color, 0.875);
    }
  }
}
