.nav-pills {
  &.nav-pills-dark {
    .nav-link.active,
    .show > .nav-link,
    .nav-link {
      color: $white;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  
}
.navbar-light.nav-link {
  color: $body-color;
  font-weight: 500;
  &:hover,
  &:focus {
    transition:.25s;
  }
}