.notifications__bell {
    font-size: 1.25rem;
    margin-top:-1rem;
&:hover {
    color:$pink;
}
}
.notifications__bell-bg {
    width:2rem;
    height:2rem;
&:hover {
    background-color: $purple-light;
}
}
