// Z-Index
@for $i from 1 through 10 {
  .z-#{$i} {
    z-index: #{$i};
  }
}

// Overflow
.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

// Shadows
.shadow--hover {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    @extend .shadow-lg;
    transform: translatey(-.25rem);

  }
}

// Pseudo Clickable
.clickable {
  cursor: pointer;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

// Layout Spacing
.section-row {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;

  &--lg {
    padding-top: $grid-gutter-width * 3;
    padding-bottom: $grid-gutter-width * 3;

    + .section-row--lg {
      padding-top: $grid-gutter-width;
    }
  }
}

.mb-gutter {
  margin-bottom: $grid-gutter-width;
}
