@import "variables";
@import "bootstrap/scss/bootstrap";
@import "toggle-checkbox";
@import "forms";
@import "input-group";
@import "card";
@import "list-group";
@import "buttons";
@import "dropdown";
@import "tables";
@import "nav";
@import "alert";
@import "custom"; // Custom Styles, not twbs/bootstrap related.
@import "avatar";
@import "notifications";
@import "type";
@import "utilities";
@import "gradients";
@import "close";
@import "wizard";

ul.navbar-nav {
  margin: 0 (-$navbar-padding-x + -$navbar-nav-link-padding-x);
}

/**
 * Z Index
 */
@for $i from 1 through 10 {
  .z-#{$i} {
    z-index: #{$i};
  }
}

.global-nav,
.global-nav__inner,
.global-nav__secondary {
  min-width: 64px;
}

@media (min-width: 768px) {
  .global-nav__inner,
  .global-nav {
    min-width: 250px;
  }
}

.secondary-nav {
  width: 150px;
}

/**
 * Account Avatar
 */
.account-avatar {
  padding: 2px;
  background: $white;
}

/**
 * Product Schemes
 */
[scheme="amimoto"] {
  .bg-primary,
  .bg-gradient-primary {
    background-color: $blue !important;
  }

  .btn-primary {
    background-color: $blue;
    border-color: $blue;
  }
}

/**
 * Product Schemes
 */
[scheme="shifter"],
.shifter-ui {
  .bg-primary,
  .bg-gradient-primary {
    @extend .bg-magenta;
    @extend .bg-gradient-magenta;
  }

  .btn-primary {
    @include button-variant($purple-dark, $purple-dark);

    &.hover,
    &:hover {
      background-color: $purple !important;
      border-color: $purple !important;
    }

    &:focus,
    &.focus {
      background-color: $purple !important;
      border-color: $purple !important;
      box-shadow:0 0 .5rem .25rem rgba($pink-light, 0.75) !important;
    }

    &:active,
    &.active {
      background-color: $purple !important;
      border-color: $purple !important;
    }
  }

  .btn-secondary {
    @include button-outline-variant($purple-dark);
    
    border-width:$border-width;
    background-color: transparent;

    &:disabled,
    &.disabled {
      color: $gray;
      background-color: transparent !important;
    }

    &.hover,
    &:hover {
      background-color: $purple !important;
      border-color: $purple !important;
      color: $white;
    }

    &:focus,
    &.focus {
      color:$white;
      background-color: $purple !important;
      border-color: $purple !important;
      box-shadow:0 0 .5rem .25rem rgba($pink-light, 0.75) !important;
    }

    &:active,
    &.active {
      background-color: $purple !important;
      border-color: $purple !important;
    }
  }

  .card-header,
  .text-primary {
    color: $purple-dark;
  }
}

/**
 * Stripe Elements
 */
.input {
  &.d-flex {
    .StripeElement {
      @extend .w-100;
      @extend .align-self-center;
    }
  }
}

.mt-gutter {
  margin-top: $grid-gutter-width / 2;
}

.my-gutter {
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
}